<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Restablecer contraseña</h3>
  
        <p class="text-center">Introduzca correo para restablecer contraseña</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Correo electrónico" #passwordResetEmail required>
        </div>
  
        <div class="formGroup text-center">
          <button mat-flat-button color="accent"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">Restaurar contraseña</button>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Volver a <span class="redirect" routerLink="/sign-in">iniciar sesión</span></span>
      </div>
  
    </div>
  </div>