
<div class="text-center">
  <h2 class="mb-3">Cambio de nombre</h2>

  <form class="container normal-form" (ngSubmit)='submit(document.getElementById("input").value)'>
  <div mat-dialog-content>
    <input type="text" id="input" value="{{originalName}}">
  </div>

  <div mat-dialog-actions class="justify-content-center">
    <button mat-flat-button color="primary" type="submit">Aceptar</button>
    <button mat-flat-button mat-dialog-close color="warn">Cerrar</button>
  </div>
  </form>

</div>

